<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>

        window.onload = function() {
            console.log (document.getElementById('InTitle').value);
        }

    </script>
</head>
<body>
    <header>
        <a href="/"> <button type="button"> Home  </button></a> 
        <a href="/Dimension/"> <button type="button">Dash Dimension</button></a>
          
      </header>
  
      <main>
          <form  action="/Dimension/Modify/idDimension=<%= Dim.idDimension %>" method="post" >
              <div class="form-group">
                  <div>Title </div>
                  <input type="text" for="Title"  value="<%= Dim.Title %>" name="Title" id="InTitle" class="form-control" >    
              </div>
              <div class="form-group">
                  <div>Describe</div>
                  <input type="text" for="Describe"  value="<%= Dim.description %>" name="description" class="form-control" >    
              </div>
  
              <button type="submit"> submit </button>
          </form>
      </main>
  
</body>
</html>