<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Product</title>
</head>
<body>
    
    <!-- #region  Formulaire-->

    <form method="post" >

        <!--Name text, SalePrice double, Cost double, Reference text, BarCode text, -->
        <div > 
            <label>Name Product</label>
            <input type="text" name="Name" placeholder="Name Product"/>    
        </div>
        <div>
            <label>Sale Price</label>
            <input type="number" name="SalePrice" placeholder="Sale Price"/>
        
        </div>

        <div>
            <label>Cost</label>
            <input type="number" name="Cost" placeholder="Cost Price"/>
        
        </div>
        <div>
            <label>Reference</label>
            <input type="text" name="Reference" placeholder="Reference"/>
        </div>

        <div>
            <label>Sale Price</label>
            <input type="text" name="BarCode" placeholder="Bar Code"/>
        </div>

        <button type="submit">Submit</button>
    </form>

  
</body>
</html>